.block_frontpageinfo .opening-times-panel {
	padding: 0 0 10px;
	margin-bottom: 20px;
	background: #fff;
}

.block_frontpageinfo .container {
	max-width: 100%;
}

.block_frontpageinfo div#openingTimesPanel h3{
  padding-left: 0px;
}

.block_frontpageinfo div#openingTimesPanel p{
  margin: 0 0 20px 0 !important;
}

.block_frontpageinfo h6{
  font-weight: 700;
	padding-top: 10px;
}

.block_frontpageinfo div#openingTimesPanel span{
  font-weight: bold;
}

.frontpage-heading{
	padding-bottom: 20px;
}

/* .succeed-list { */
	/* padding-left: 30px; */
/* } */

.succeed-list li{
	padding: 5px 0 5px 0;
}

/* #succeed-container{ */
	/* padding-left: 30px; */
/* } */

.frontpage-block-left {
	border-right: 1px solid #eee;
	padding-right: 35px !important;
}

.frontpage-block-center {
	padding-left: 35px !important;
	padding-right: 35px !important;
}

.frontpage-block-right {
	border-left: 1px solid #eee;
	padding-left: 40px !important;
}

.spinner {
  font-size: 50px !important;
  margin-left: 45%;
  margin-top: 40%;
}

@media (max-width: 575px) {
	.spinner {
	  margin-top: 0 !important;
	}
}

.block_frontpageinfo table {
	width: 100%;
}

.block_frontpageinfo th{
  text-align: left !important;
}

.block_frontpageinfo th, .block_frontpageinfo td{
  padding: 5px !important;
}

.block_frontpageinfo p{
  padding: 5px 0 !important;
}

.block_frontpageinfo tr{
  border-bottom: 1px solid #eee;
}

.block_frontpageinfo td.pc_availability, .block_frontpageinfo th.pc_availability{
  text-align: right !important;
}

#refresh_info {
	margin-top: 10px;
}

#computer_availability{
	padding-top: 10px;
	font-size: 14px;
}
