.block_frontpageinfo .opening-times-panel {
	padding: 0 0 10px;
	margin-bottom: 20px;
	background: #fff;
}

.block_frontpageinfo .container {
	max-width: 100%;
}

.block_frontpageinfo div#openingTimesPanel h3{
    padding-left: 0px;
}

.block_frontpageinfo div#openingTimesPanel p{
    margin: 0 0 20px 0 !important;
}


.block_frontpageinfo h6{
    font-weight: 700;
	padding-top: 10px;
}

.block_frontpageinfo div#openingTimesPanel span{
    font-weight: bold;
}

.frontpage-heading{
	padding-bottom: 20px;
}

/* .succeed-list {
	padding-left: 30px;
} */

.succeed-list li{
	padding: 5px 0 5px 0;
}

/* #succeed-container{
	padding-left: 30px;
} */

.frontpage-block-left {
	border-right: 1px solid #eee;
	padding-right: 40px !important;
}

.frontpage-block-center {
	padding-left: 40px !important;
	padding-right: 40px !important;
}

.frontpage-block-right {
	border-left: 1px solid #eee;
	padding-left: 40px !important;
}
